<?xml version="1.0" encoding="utf-8"?>
<!-- SUMMARY: This AndroidManifest.xml sample demonstrates an app with SafeBrowsing explicitly disabled for WebViews. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.owasp.mastestapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- FAIL: [MASTG-TEST-0314] SafeBrowsing is explicitly disabled, removing protection against known malicious URLs -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
